<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
    <title>About</title>
  </head>
  <body>
    <div class = "main-content">
      {{> header}}
      <p>{{text}}</p>
      <img class = "portrait" src = "/images/Me.jpg" >
    </div>
    {{> footer}}
  </body>
</html>
